.gitignore
data/
perso/
staging/
covers/
utils/release.sh
utils/tarball.sh
utils/send.sh
*~
*.aux
*.sbd
*.sbx
*.sxd
*.log
*.out
*.d
*.pdf
*.pyc
*.tar.gz
default.sb
default.tex
french.sb
english.sb
tmp.sb
utils/version.sh
