% Copyright (C) 2009-2010 Romain Goffe, Alexandre Dupas
% Copyright (C) 2008 Kevin W. Hamlen
%
% This program is free software; you can redistribute it and/or
% modify it under the terms of the GNU General Public License
% as published by the Free Software Foundation; either version 2
% of the License, or (at your option) any later version.
%
% This program is distributed in the hope that it will be useful,
% but WITHOUT ANY WARRANTY; without even the implied warranty of
% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
% GNU General Public License for more details.
%
% You should have received a copy of the GNU General Public License
% along with this program; if not, write to the Free Software
% Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
% MA  02110-1301, USA.
%
% The latest version of this program can be obtained from
% http://songs.sourceforge.net.
%
% Modified to serve personnal purposes. Newer versions can be 
% obtained from http://www.lohrun.net.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Template parameters
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%:[
%%:  {"name":"title", "description":"Title", "default":"Recueil de chansons pour guitare", "mandatory":true},
%%:  {"name":"author", "description":"Author", "default":"Romain Goffe \\and Alexandre Dupas", "mandatory":true},
%%:  {"name":"booktype", "description":"Type", "type":"enum", "values":["chorded","lyric"], "default":"chorded", "mandatory":true},
%%:  {"name":"bookoptions", "description":"Options", "type":"flag", "values":["diagram","lilypond","pictures","tabs"], "join":",", "mandatory":true, "default":["diagram","pictures"]},
%%:  {"name":"version", "description":"Version", "default":"3.3.8"},
%%:  {"name":"subtitle", "description":"Subtitle"},
%%:  {"name":"web", "description":"Web", "default":"http://www.patacrep.com"},
%%:  {"name":"mail", "description":"Email", "default":"crep@team-on-fire.com"},
%%:  {"name":"picture", "description":"Picture", "type":"file", "default":"feel-the-music"},
%%:  {"name":"picturecopyright", "description":"Copyright", "default":"foxygamergirl@deviantart.com"},
%%:  {"name":"footer", "description":"Footer", "default":"\\begin{flushleft}\\includegraphics[width=3cm]{on-fire}\\end{flushleft}"},
%%:  {"name":"license", "description":"License", "default":"\\input{license.tex}"},
%%:  {"name":"mainfontsize", "description":"Font Size", "type":"font", "default":"10"},
%%:  {"name":"songnumberbgcolor", "description":"Number Shade", "type":"color", "default":"#D1E4AE"},
%%:  {"name":"notebgcolor", "description":"Note Shade", "type":"color", "default":"#D1E4AE"},
%%:  {"name":"indexbgcolor", "description":"Index Shade", "type":"color", "default":"#D1E4AE"}
%%:]
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% begin document
\documentclass[\getbooktype,\getbookoptions,\getmainfontsize]{crepbook}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{lmodern}
\usepackage[spanish,english,french]{babel}

\title{\gettitle}
\author{\getauthor}
\subtitle{\getsubtitle}
\version{\getversion}
\mail{\getmail}
\web{\getweb}
\picture{\getpicture}
\picturecopyright{\getpicturecopyright}
\footer{\getfooter}
\licence{\getlicense}

\newindex{titleidx}{\getname_title}
\newauthorindex{authidx}{\getname_auth}

\graphicspath{
  {img/},
}

\definecolor{SongNumberBgColor}{HTML}{\getsongnumberbgcolor}
\definecolor{NoteBgColor}{HTML}{\getnotebgcolor}
\definecolor{IndexBgColor}{HTML}{\getindexbgcolor}

\renewcommand{\snumbgcolor}{SongNumberBgColor}
\renewcommand{\notebgcolor}{NoteBgColor}
\renewcommand{\idxbgcolor}{IndexBgColor}

\pagestyle{empty}

\begin{document}

\maketitle

\showindex{Index des chansons}{titleidx}
\showindex{Index des auteurs}{authidx}

\songsection{Liste des chansons}
\begin{songs}{titleidx,authidx}
  \getsongslist
\end{songs}

\end{document}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% end document
